<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>WebSocket Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<style>
    .container {
        display: flex;
        /*background: beige;*/
        height: 90vh;
        justify-content: space-evenly;
    }
    .container #jwe {
        background: #FFCCCC;
        text-align: center;
        overflow-y: auto;
    }
    .container #handler {
        background: #CCFFFF;
        text-align: center;
        overflow-y: auto;
    }
    .container #stomp {
        background: #FFFFCC;
        text-align: center;
        overflow-y: auto;
    }
    .container .action {
        padding-bottom: 1.5rem;
    }
    .info {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 1.5rem;
    }
    .content {
        text-align: left;
        padding-left: 1.2rem;
    }
    .system {
        color: red;
    }
    .self {
        color: black;
    }
    .other {
        color: green;
    }
</style>
<body>
    <div class="container">
        <div id="jwe">
            <h1>Java EE WebSocket API</h1>
            <div class="info">
                <div class="nickname">nickname: </div>
                <div class="connectionCount">Connected Users: 0</div>
            </div>
            <div class="action">
                <input class="messageInput" disabled placeholder="Enter your message" type="text">
                <button class="connectButton" disabled>Connect</button>
                <button class="sendButton" disabled>Send</button>
                <button class="disconnectButton" disabled>Disconnect</button>
            </div>
            <div class="content">

            </div>
        </div>
        <div id="handler">
            <h1>Springboot WebSocket Handler</h1>
            <div class="info">
                <div class="nickname">nickname: </div>
                <div class="connectionCount">Connected Users: 0</div>
            </div>
            <div class="action">
                <input class="messageInput" disabled placeholder="Enter your message" type="text">
                <button class="connectButton" disabled>Connect</button>
                <button class="sendButton" disabled>Send</button>
                <button class="disconnectButton" disabled>Disconnect</button>
            </div>
            <div class="content">

            </div>
        </div>
        <div id="stomp">
            <h1>Springboot STOMP Message Broker</h1>
            <div class="info">
                <div class="nickname">nickname: </div>
                <div class="connectionCount">Connected Users: 0</div>
            </div>
            <div class="action">
                <input class="messageInput" disabled placeholder="Enter your message" type="text">
                <button class="connectButton" disabled>Connect</button>
                <button class="sendButton" disabled>Send</button>
                <button class="disconnectButton" disabled>Disconnect</button>
            </div>
            <div class="content">

            </div>
        </div>
    </div>
</body>

<script>
    /**
     * Represents a WebSocket message
     * @typedef {Object} MessageData
     * @property {string} nickname - The nickname of the user who sent the message
     * @property {string} message - The message content
     * @property {string} type - The type of the message (e.g. 'system', 'user')
     * @property {number} clients - The number of connected clients
     */
    class WebSocketExample {
        constructor(elementId) {
            // state
            this.nickname = null

            this.container = document.getElementById(elementId);

            this.connectButton = this.container.querySelector('.action .connectButton');
            this.messageInput = this.container.querySelector('.action .messageInput');
            this.sendButton = this.container.querySelector('.action .sendButton');
            this.disconnectButton = this.container.querySelector('.action .disconnectButton');
            this.setButtonState(false);

            // Event binding
            this.connectButton.onclick = () => this.connectWebSocket();
            this.sendButton.onclick = () => this.sendMessage();
            this.disconnectButton.onclick = () => this.disconnectWebSocket();

            // Add keydown event to input for handling Enter key
            this.messageInput.addEventListener('keyup', (event) => {
                if (event.key === 'Enter') {
                    if (this.messageInput.value.trim() === '') return
                    event.preventDefault();  // Prevents default action like form submission
                    this.sendMessage();
                }
            });
        }

        setButtonState(connected) {
            this.connectButton.disabled = connected;
            this.messageInput.disabled = !connected;
            this.sendButton.disabled = !connected;
            this.disconnectButton.disabled = !connected;
        }

        connectWebSocket() { }

        sendMessage() { }

        disconnectWebSocket() { }
    }

    class JavaEEWebSocket extends WebSocketExample {
        connectWebSocket() {
            this.webSocket = new WebSocket(`ws://${location.host}/java-EE`);
            this.webSocket.onopen = (event) => {
                console.log('Java EE WebSocket connected:', event);
                this.setButtonState(true);
            };
            this.webSocket.onclose = (event) => {
                console.log('Java EE WebSocket disconnected');
                console.log(event)

                const nicknameElem = this.container.querySelector('.info .nickname');
                nicknameElem.innerText = `nickname: `;
                this.setButtonState(false);
            };
            this.webSocket.onmessage = (event) => {
                console.log('Java EE WebSocket message received:', event.data);

                /** @type {MessageData} */
                const messageData = JSON.parse(event.data);

                if (messageData.message.includes("Your nickname is")) {
                    this.nickname = messageData.nickname;
                    const nicknameElem = this.container.querySelector('.info .nickname');
                    nicknameElem.innerText = `nickname: ${messageData.nickname}`;
                    return;
                }

                const newElem = document.createElement('div');
                if (messageData.message.includes("System")) {
                    newElem.className = "system";
                }
                else {
                    if (messageData.nickname === this.nickname) {
                        newElem.className = "self";
                    } else {
                        newElem.className = "other";
                    }
                }
                newElem.innerText = messageData.message;

                const contentElem = this.container.querySelector('.content')

                // this.container.appendChild(newElem);
                contentElem.appendChild(newElem);

                // 스크롤을 아래로 이동
                this.container.scrollTop = this.container.scrollHeight;

                // 접속 인원 업데이트 (예시로 1 증가, 실제로는 서버로부터 데이터를 가져와야 함)
                const connectionCountElem = this.container.querySelector('.info .connectionCount');
                connectionCountElem.innerText = `Connected Users: ${messageData.clients}`;
            };
        }

        sendMessage() {
            const message = this.messageInput.value;
            this.webSocket.send(message)
            this.messageInput.value = '';
        }

        disconnectWebSocket() {
            this.webSocket.close();
        }
    }

    class SpringWebSocketHandler extends WebSocketExample {
        connectWebSocket() {
            this.webSocket = new WebSocket(`ws://${location.host}/ws-handler`);
            this.webSocket.onopen = (event) => {
                console.log('Springboot WebSocket Handler connected:', event);

                this.setButtonState(true);
            };
            this.webSocket.onclose = (event) => {
                console.log('Springboot WebSocket Handler connected');

                const nicknameElem = this.container.querySelector('.info .nickname');
                nicknameElem.innerText = `nickname: `;
                this.setButtonState(false);
            };
            this.webSocket.onmessage = (event) => {
                console.log('Springboot WebSocket Handler message received:', event.data);

                /** @type {MessageData} */
                const messageData = JSON.parse(event.data);

                if (messageData.message.includes("Your nickname is")) {
                    this.nickname = messageData.nickname;
                    const nicknameElem = this.container.querySelector('.info .nickname');
                    nicknameElem.innerText = `nickname: ${messageData.nickname}`;
                    return;
                }

                const newElem = document.createElement('div');
                if (messageData.message.includes("System")) {
                    newElem.className = "system";
                }
                else {
                    if (messageData.nickname === this.nickname) {
                        newElem.className = "self";
                    } else {
                        newElem.className = "other";
                    }
                }
                newElem.innerText = messageData.message;

                const contentElem = this.container.querySelector('.content')

                // this.container.appendChild(newElem);
                contentElem.appendChild(newElem);

                // 스크롤을 아래로 이동
                this.container.scrollTop = this.container.scrollHeight;

                // 접속 인원 업데이트 (예시로 1 증가, 실제로는 서버로부터 데이터를 가져와야 함)
                const connectionCountElem = this.container.querySelector('.info .connectionCount');
                connectionCountElem.innerText = `Connected Users: ${messageData.clients}`;
            };
        }

        sendMessage() {
            const message = this.messageInput.value;
            this.webSocket.send(message)
            this.messageInput.value = '';
        }

        disconnectWebSocket() {
            this.webSocket.close();
        }
    }

    class SpringStompMessageBroker extends WebSocketExample {
        connectWebSocket() {
            // SockJS and Stomp client setup
            this.sock = new SockJS(`http://${location.host}/ws-stomp`);
            this.stompClient = Stomp.over(this.sock);

            this.stompClient.connect({}, (frame) => {
                console.log('STOMP connected:', frame);
                this.setButtonState(true);

                // Subscribe to a topic (Replace 'your/topic' with the actual topic you want to subscribe to)
                this.stompClient.subscribe('/topic/greetings', (message) => {
                    const newElem = document.createElement('div');
                    newElem.innerText = message.body;
                    this.container.appendChild(newElem);
                });
            }, (error) => {
                console.log('STOMP connection error:', error);
                this.setButtonState(false);
            });
        }

        sendMessage() {
            const message = this.messageInput.value;

            // Publish a message (Replace 'your/topic' with the actual topic you want to publish to)
            this.stompClient.send('/app/hello', {}, message);

            this.messageInput.value = '';
        }

        disconnectWebSocket() {
            if (this.stompClient) {
                this.stompClient.disconnect(() => {
                    console.log('STOMP disconnected');
                    this.setButtonState(false);
                });
            }
        }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        // 각 div 요소에 대한 클래스 인스턴스를 생성합니다.
        const jwe = new JavaEEWebSocket('jwe');
        const handler = new SpringWebSocketHandler('handler');
        const stomp = new SpringStompMessageBroker('stomp');
    })

</script>
</html>
